In [2]:
# from pandas import * 
from sklearn.preprocessing import StandardScaler

In [3]:
import pandas as pd

In [4]:
train=pd.read_csv("train.csv")

In [5]:
test=pd.read_csv("test_updated.csv")

In [6]:
train.shape

(560000, 91)

In [7]:
test.shape

(361500, 90)

In [6]:
train.columns

Index(['data_id', 'period', 'c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8',
       'c9', 'c10', 'c11', 'c12', 'c13', 'c14', 'c15', 'c16', 'c17', 'c18',
       'c19', 'c20', 'c21', 'c22', 'c23', 'c24', 'c25', 'c26', 'c27', 'c28',
       'c29', 'c30', 'c31', 'c32', 'c33', 'c34', 'c35', 'c36', 'c37', 'c38',
       'c39', 'c40', 'c41', 'c42', 'c43', 'c44', 'c45', 'c46', 'c47', 'c48',
       'c49', 'c50', 'c51', 'c52', 'c53', 'c54', 'c55', 'c56', 'c57', 'c58',
       'c59', 'c60', 'c61', 'c62', 'c63', 'c64', 'c65', 'c66', 'c67', 'c68',
       'c69', 'c70', 'c71', 'c72', 'c73', 'c74', 'c75', 'c76', 'c77', 'c78',
       'c79', 'c80', 'c81', 'c82', 'c83', 'c84', 'c85', 'c86', 'c87', 'c88',
       'target'],
      dtype='object')

In [8]:
test.columns

Index(['data_id', 'period', 'c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8',
       'c9', 'c10', 'c11', 'c12', 'c13', 'c14', 'c15', 'c16', 'c17', 'c18',
       'c19', 'c20', 'c21', 'c22', 'c23', 'c24', 'c25', 'c26', 'c27', 'c28',
       'c29', 'c30', 'c31', 'c32', 'c33', 'c34', 'c35', 'c36', 'c37', 'c38',
       'c39', 'c40', 'c41', 'c42', 'c43', 'c44', 'c45', 'c46', 'c47', 'c48',
       'c49', 'c50', 'c51', 'c52', 'c53', 'c54', 'c55', 'c56', 'c57', 'c58',
       'c59', 'c60', 'c61', 'c62', 'c63', 'c64', 'c65', 'c66', 'c67', 'c68',
       'c69', 'c70', 'c71', 'c72', 'c73', 'c74', 'c75', 'c76', 'c77', 'c78',
       'c79', 'c80', 'c81', 'c82', 'c83', 'c84', 'c85', 'c86', 'c87', 'c88'],
      dtype='object')

In [9]:
train.index

RangeIndex(start=0, stop=560000, step=1)

In [10]:
len(train)

560000

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560000 entries, 0 to 559999
Data columns (total 91 columns):
data_id    560000 non-null int64
period     560000 non-null object
c1         560000 non-null float64
c2         560000 non-null float64
c3         560000 non-null float64
c4         560000 non-null float64
c5         560000 non-null float64
c6         560000 non-null float64
c7         560000 non-null float64
c8         560000 non-null float64
c9         560000 non-null float64
c10        560000 non-null float64
c11        560000 non-null float64
c12        560000 non-null float64
c13        560000 non-null float64
c14        560000 non-null float64
c15        560000 non-null float64
c16        560000 non-null float64
c17        560000 non-null float64
c18        560000 non-null float64
c19        560000 non-null float64
c20        560000 non-null float64
c21        560000 non-null float64
c22        560000 non-null float64
c23        560000 non-null float64
c24        560000 non-null float64
c25        560000 non-null float64
c26        560000 non-null float64
c27        560000 non-null float64
c28        560000 non-null float64
c29        560000 non-null float64
c30        560000 non-null float64
c31        560000 non-null float64
c32        560000 non-null float64
c33        560000 non-null float64
c34        560000 non-null float64
c35        560000 non-null float64
c36        560000 non-null float64
c37        560000 non-null float64
c38        560000 non-null float64
c39        560000 non-null float64
c40        560000 non-null float64
c41        560000 non-null float64
c42        560000 non-null float64
c43        560000 non-null float64
c44        560000 non-null float64
c45        560000 non-null float64
c46        560000 non-null float64
c47        560000 non-null float64
c48        560000 non-null float64
c49        560000 non-null float64
c50        560000 non-null float64
c51        560000 non-null float64
c52        560000 non-null float64
c53        560000 non-null float64
c54        560000 non-null float64
c55        560000 non-null float64
c56        560000 non-null float64
c57        560000 non-null float64
c58        560000 non-null float64
c59        560000 non-null float64
c60        560000 non-null float64
c61        560000 non-null float64
c62        560000 non-null float64
c63        560000 non-null float64
c64        560000 non-null float64
c65        560000 non-null float64
c66        560000 non-null float64
c67        560000 non-null float64
c68        560000 non-null float64
c69        560000 non-null float64
c70        560000 non-null float64
c71        560000 non-null float64
c72        560000 non-null float64
c73        560000 non-null float64
c74        560000 non-null float64
c75        560000 non-null float64
c76        560000 non-null float64
c77        560000 non-null float64
c78        560000 non-null float64
c79        560000 non-null float64
c80        560000 non-null float64
c81        560000 non-null float64
c82        560000 non-null float64
c83        560000 non-null float64
c84        560000 non-null float64
c85        560000 non-null float64
c86        560000 non-null float64
c87        560000 non-null float64
c88        560000 non-null float64
target     560000 non-null int64
dtypes: float64(88), int64(2), object(1)
memory usage: 388.8+ MB

In [ ]:
# train.describe()

In [8]:
newData=pd.concat([train,test],axis=0)

In [9]:
newData.shape

(921500, 91)

In [10]:
newData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 921500 entries, 0 to 361499
Data columns (total 91 columns):
c1         921500 non-null float64
c10        921500 non-null float64
c11        921500 non-null float64
c12        921500 non-null float64
c13        921500 non-null float64
c14        921500 non-null float64
c15        921500 non-null float64
c16        921500 non-null float64
c17        921500 non-null float64
c18        921500 non-null float64
c19        921500 non-null float64
c2         921500 non-null float64
c20        921500 non-null float64
c21        921500 non-null float64
c22        921500 non-null float64
c23        921500 non-null float64
c24        921500 non-null float64
c25        921500 non-null float64
c26        921500 non-null float64
c27        921500 non-null float64
c28        921500 non-null float64
c29        921500 non-null float64
c3         921500 non-null float64
c30        921500 non-null float64
c31        921500 non-null float64
c32        921500 non-null float64
c33        921500 non-null float64
c34        921500 non-null float64
c35        921500 non-null float64
c36        921500 non-null float64
c37        921500 non-null float64
c38        921500 non-null float64
c39        921500 non-null float64
c4         921500 non-null float64
c40        921500 non-null float64
c41        921500 non-null float64
c42        921500 non-null float64
c43        921500 non-null float64
c44        921500 non-null float64
c45        921500 non-null float64
c46        921500 non-null float64
c47        921500 non-null float64
c48        921500 non-null float64
c49        921500 non-null float64
c5         921500 non-null float64
c50        921500 non-null float64
c51        921500 non-null float64
c52        921500 non-null float64
c53        921500 non-null float64
c54        921500 non-null float64
c55        921500 non-null float64
c56        921500 non-null float64
c57        921500 non-null float64
c58        921500 non-null float64
c59        921500 non-null float64
c6         921500 non-null float64
c60        921500 non-null float64
c61        921500 non-null float64
c62        921500 non-null float64
c63        921500 non-null float64
c64        921500 non-null float64
c65        921500 non-null float64
c66        921500 non-null float64
c67        921500 non-null float64
c68        921500 non-null float64
c69        921500 non-null float64
c7         921500 non-null float64
c70        921500 non-null float64
c71        921500 non-null float64
c72        921500 non-null float64
c73        921500 non-null float64
c74        921500 non-null float64
c75        921500 non-null float64
c76        921500 non-null float64
c77        921500 non-null float64
c78        921500 non-null float64
c79        921500 non-null float64
c8         921500 non-null float64
c80        921500 non-null float64
c81        921500 non-null float64
c82        921500 non-null float64
c83        921500 non-null float64
c84        921500 non-null float64
c85        921500 non-null float64
c86        921500 non-null float64
c87        921500 non-null float64
c88        921500 non-null float64
c9         921500 non-null float64
data_id    921500 non-null int64
period     921500 non-null object
target     560000 non-null float64
dtypes: float64(89), int64(1), object(1)
memory usage: 646.8+ MB

In [15]:
newData.groupby("period").agg("count")

,c1,c10,c11,c12,c13,c14,c15,c16,c17,c18,...,c82,c83,c84,c85,c86,c87,c88,c9,data_id,target
period,,,,,,,,,,,,,,,,,,,,,
test1,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,...,40000,40000,40000,40000,40000,40000,40000,40000,40000,0
test10,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,...,40000,40000,40000,40000,40000,40000,40000,40000,40000,0
test2,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,...,40000,40000,40000,40000,40000,40000,40000,40000,40000,0
test3,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,...,40000,40000,40000,40000,40000,40000,40000,40000,40000,0
test4,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,...,40000,40000,40000,40000,40000,40000,40000,40000,40000,0
test5,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,...,40000,40000,40000,40000,40000,40000,40000,40000,40000,0
test6,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,...,40000,40000,40000,40000,40000,40000,40000,40000,40000,0
test7,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,...,40000,40000,40000,40000,40000,40000,40000,40000,40000,0
test8,1500,1500,1500,1500,1500,1500,1500,1500,1500,1500,...,1500,1500,1500,1500,1500,1500,1500,1500,1500,0
test9,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,...,40000,40000,40000,40000,40000,40000,40000,40000,40000,0
train1,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,...,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000
train10,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,...,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000
train11,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,...,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000
train12,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,...,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000
train13,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,...,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000
train14,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,...,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000
train2,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,...,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000
train3,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,...,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000
train4,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,...,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000
train5,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,...,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000
train6,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,...,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000
train7,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,...,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000
train8,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,...,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000
train9,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,...,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000

In [11]:
newData.groupby("period").size()

period
test1      40000
test10     40000
test2      40000
test3      40000
test4      40000
test5      40000
test6      40000
test7      40000
test8       1500
test9      40000
train1     40000
train10    40000
train11    40000
train12    40000
train13    40000
train14    40000
train2     40000
train3     40000
train4     40000
train5     40000
train6     40000
train7     40000
train8     40000
train9     40000
dtype: int64

In [12]:
newData.columns

Index(['c1', 'c10', 'c11', 'c12', 'c13', 'c14', 'c15', 'c16', 'c17', 'c18',
       'c19', 'c2', 'c20', 'c21', 'c22', 'c23', 'c24', 'c25', 'c26', 'c27',
       'c28', 'c29', 'c3', 'c30', 'c31', 'c32', 'c33', 'c34', 'c35', 'c36',
       'c37', 'c38', 'c39', 'c4', 'c40', 'c41', 'c42', 'c43', 'c44', 'c45',
       'c46', 'c47', 'c48', 'c49', 'c5', 'c50', 'c51', 'c52', 'c53', 'c54',
       'c55', 'c56', 'c57', 'c58', 'c59', 'c6', 'c60', 'c61', 'c62', 'c63',
       'c64', 'c65', 'c66', 'c67', 'c68', 'c69', 'c7', 'c70', 'c71', 'c72',
       'c73', 'c74', 'c75', 'c76', 'c77', 'c78', 'c79', 'c8', 'c80', 'c81',
       'c82', 'c83', 'c84', 'c85', 'c86', 'c87', 'c88', 'c9', 'data_id',
       'period', 'target'],
      dtype='object')

In [13]:
newData.iloc[:,0:87].columns

Index(['c1', 'c10', 'c11', 'c12', 'c13', 'c14', 'c15', 'c16', 'c17', 'c18',
       'c19', 'c2', 'c20', 'c21', 'c22', 'c23', 'c24', 'c25', 'c26', 'c27',
       'c28', 'c29', 'c3', 'c30', 'c31', 'c32', 'c33', 'c34', 'c35', 'c36',
       'c37', 'c38', 'c39', 'c4', 'c40', 'c41', 'c42', 'c43', 'c44', 'c45',
       'c46', 'c47', 'c48', 'c49', 'c5', 'c50', 'c51', 'c52', 'c53', 'c54',
       'c55', 'c56', 'c57', 'c58', 'c59', 'c6', 'c60', 'c61', 'c62', 'c63',
       'c64', 'c65', 'c66', 'c67', 'c68', 'c69', 'c7', 'c70', 'c71', 'c72',
       'c73', 'c74', 'c75', 'c76', 'c77', 'c78', 'c79', 'c8', 'c80', 'c81',
       'c82', 'c83', 'c84', 'c85', 'c86', 'c87', 'c88'],
      dtype='object')

In [14]:
scaler = StandardScaler()

In [15]:
scaledData = scaler.fit_transform(newData.iloc[:,0:87])

In [16]:
type(scaledData)

numpy.ndarray

In [17]:
from sklearn.mixture import GaussianMixture

In [18]:
import numpy as np

In [19]:
from sklearn.cluster import KMeans

In [22]:
for k in range (1, 81,10):
 
	# Create a kmeans model on our data, using k clusters.  random_state helps ensure that the algorithm returns the same results each time.
	kmeans_model = KMeans(n_clusters=k, random_state=1).fit(scaledData)
	
	# These are our fitted labels for clusters -- the first cluster has label 0, and the second has label 1.
	labels = kmeans_model.labels_
 
	# Sum of distances of samples to their closest cluster center
	interia = kmeans_model.inertia_
	print ("k:",k, " cost:", interia)

k: 1  cost: 80170500.0
k: 11  cost: 70604856.32
k: 21  cost: 63046697.9062
k: 31  cost: 55695453.4465
k: 41  cost: 51024555.6716
k: 51  cost: 48761251.0365
k: 61  cost: 47301218.7867
k: 71  cost: 45861902.4526

In [23]:
for k in range (81,122,10):
 
	# Create a kmeans model on our data, using k clusters.  random_state helps ensure that the algorithm returns the same results each time.
	kmeans_model = KMeans(n_clusters=k, random_state=1).fit(scaledData)
	
	# These are our fitted labels for clusters -- the first cluster has label 0, and the second has label 1.
	labels = kmeans_model.labels_
 
	# Sum of distances of samples to their closest cluster center
	interia = kmeans_model.inertia_
	print ("k:",k, " cost:", interia)

k: 81  cost: 44712192.9493
k: 91  cost: 43700263.2582

KeyboardInterrupt:

In [28]:
from sklearn.cluster import MiniBatchKMeans
import time

In [31]:
# Compute clustering with MiniBatchKMeans
for k in range (1,142,10):
    mbk = MiniBatchKMeans(init='k-means++', n_clusters=k, batch_size=100,random_state=1)
    t0 = time.time()
    model = mbk.fit(scaledData)
    t_mini_batch = time.time() - t0
    interia = model.inertia_
    print ("k:",k, " cost:", interia)
    print(t_mini_batch)

k: 1  cost: 80213127.5169
2.6951541900634766
k: 11  cost: 75584808.7664
2.8131608963012695
k: 21  cost: 71677732.3231
3.7882165908813477
k: 31  cost: 59324789.0153
7.889451265335083
k: 41  cost: 56044946.4912
12.801732063293457
k: 51  cost: 51713157.9804
5.832333564758301
k: 61  cost: 54611337.3668
3.68121075630188
k: 71  cost: 57904820.1245
3.737213611602783
k: 81  cost: 59399544.7689
3.9022233486175537
k: 91  cost: 58216485.2018
4.319247007369995
k: 101  cost: 55045408.9049
4.133236646652222
k: 111  cost: 56663274.8726
4.059231996536255
k: 121  cost: 46202529.526
7.656437873840332
k: 131  cost: 45820493.6823
8.108463764190674
k: 141  cost: 49912384.3744
5.200297117233276

In [35]:
# Compute clustering with MiniBatchKMeans
for k in range (1,150,1):
    mbk = MiniBatchKMeans(init='k-means++', n_clusters=k, batch_size=100,random_state=1)
    t0 = time.time()
    model = mbk.fit(scaledData)
    t_mini_batch = time.time() - t0
    interia = model.inertia_
    print ("k:",k, " cost:", interia)
    print(t_mini_batch)

k: 1  cost: 80213127.5169
2.97016978263855
k: 2  cost: 79451704.3714
2.8211612701416016
k: 3  cost: 78972783.4419
3.363192319869995
k: 4  cost: 77764963.1468
3.863996744155884
k: 5  cost: 77201335.8043
2.734806776046753
k: 6  cost: 76681912.0156
3.1804141998291016
k: 7  cost: 75245120.0349
3.1172080039978027
k: 8  cost: 75016592.7347
3.1550076007843018
k: 9  cost: 76625827.7449
3.2314083576202393
k: 10  cost: 76376182.2181
3.017008066177368
k: 11  cost: 75584808.7664
3.2464091777801514
k: 12  cost: 75810613.0301
3.8588106632232666
k: 13  cost: 75053842.7596
3.130411148071289
k: 14  cost: 74743602.549
2.9518063068389893
k: 15  cost: 72797211.2238
3.0450098514556885
k: 16  cost: 72917137.3892
3.094008445739746
k: 17  cost: 73116797.6365
3.1282083988189697
k: 18  cost: 73346017.3431
3.191009521484375
k: 19  cost: 71661786.6554
3.172008514404297
k: 20  cost: 71058407.4279
3.1142077445983887
k: 21  cost: 71677732.3231
3.4716203212738037
k: 22  cost: 63976282.3192
11.052229642868042
k: 23  cost: 63451646.0871
10.510827541351318
k: 24  cost: 62651543.3912
12.526974201202393
k: 25  cost: 62244406.8852
9.069518566131592
k: 26  cost: 68538443.3645
3.734113931655884
k: 27  cost: 68367307.739
3.4046080112457275
k: 28  cost: 66643012.9515
2.960211992263794
k: 29  cost: 68208933.4132
3.1360063552856445
k: 30  cost: 69614524.0359
3.1812117099761963
k: 31  cost: 59324789.0153
6.472218036651611
k: 32  cost: 59716596.8352
6.344215393066406
k: 33  cost: 56611353.7882
9.56502366065979
k: 34  cost: 58063774.2332
6.926416397094727
k: 35  cost: 66815703.5504
3.612412929534912
k: 36  cost: 65525283.8719
3.2072131633758545
k: 37  cost: 64767709.6606
3.0856070518493652
k: 38  cost: 65921762.8519
3.3444104194641113
k: 39  cost: 65986239.7247
3.69941782951355
k: 40  cost: 65661463.4148
3.6350176334381104
k: 41  cost: 56044946.4912
11.707695007324219
k: 42  cost: 53659362.0386
15.39188027381897
k: 43  cost: 54503575.0139
11.616664409637451
k: 44  cost: 52988908.9644
14.854849576950073
k: 45  cost: 65254448.8887
3.586205244064331
k: 46  cost: 56280019.5592
3.5412023067474365
k: 47  cost: 53951102.5136
4.653266191482544
k: 48  cost: 54471223.5329
3.6042063236236572
k: 49  cost: 55025346.5952
4.680250406265259
k: 50  cost: 55520311.5705
3.921224355697632
k: 51  cost: 51713157.9804
6.082347869873047
k: 52  cost: 55110480.9473
4.811275243759155
k: 53  cost: 62774089.1672
3.8712215423583984
k: 54  cost: 61512928.1721
4.036230802536011
k: 55  cost: 61744279.4874
3.6492087841033936
k: 56  cost: 61327520.614
3.584205150604248
k: 57  cost: 62177727.1064
3.6632094383239746
k: 58  cost: 61551729.0998
3.936224937438965
k: 59  cost: 63022189.3801
3.712212562561035
k: 60  cost: 57790414.9411
3.7312135696411133
k: 61  cost: 54611337.3668
3.825218915939331
k: 62  cost: 53606062.1819
3.979227304458618
k: 63  cost: 55167255.7987
3.8672213554382324
k: 64  cost: 61290419.8128
3.7722158432006836
k: 65  cost: 52914692.2123
3.941225290298462
k: 66  cost: 56427073.174
3.922224521636963
k: 67  cost: 59576497.2467
4.153237581253052
k: 68  cost: 54984168.4328
4.590262413024902
k: 69  cost: 57701731.764
4.303246021270752
k: 70  cost: 53229392.6914
4.170238733291626
k: 71  cost: 57904820.1245
4.433253765106201
k: 72  cost: 60449912.5149
5.386696100234985
k: 73  cost: 49033499.9907
10.863621473312378
k: 74  cost: 49580169.7804
11.268644571304321
k: 75  cost: 48868692.3637
10.346591711044312
k: 76  cost: 56899157.5777
3.791217088699341
k: 77  cost: 53444864.6256
4.068232536315918
k: 78  cost: 58952488.5221
4.043231248855591
k: 79  cost: 60185202.4652
4.006228923797607
k: 80  cost: 59576949.1576
3.966226577758789
k: 81  cost: 59399544.7689
4.199240207672119
k: 82  cost: 58677114.8743
4.459255218505859
k: 83  cost: 58410068.4216
5.0782904624938965
k: 84  cost: 60102078.8816
4.347248792648315
k: 85  cost: 60739748.8278
5.222298622131348
k: 86  cost: 60467913.3714
4.284245014190674
k: 87  cost: 58918294.2918
4.73227071762085
k: 88  cost: 52268213.6738
4.4802563190460205
k: 89  cost: 55262825.7705
4.345248460769653
k: 90  cost: 58682949.3009
4.194240093231201
k: 91  cost: 58216485.2018
4.197240114212036
k: 92  cost: 47316982.4742
8.033459186553955
k: 93  cost: 48208689.3267
7.7174413204193115
k: 94  cost: 48158473.7888
13.028745174407959
k: 95  cost: 47439435.0501
8.472484588623047
k: 96  cost: 46417847.754
18.505058526992798
k: 97  cost: 52643060.1889
4.03623104095459
k: 98  cost: 58120771.8642
4.340248346328735
k: 99  cost: 55138613.9337
4.584262371063232
k: 100  cost: 54131328.5814
4.532259464263916
k: 101  cost: 55045408.9049
4.455254793167114
k: 102  cost: 55657258.9508
4.664266586303711
k: 103  cost: 56110031.2999
4.320247173309326
k: 104  cost: 56033629.4908
4.532259225845337
k: 105  cost: 56038810.2996
4.497257232666016
k: 106  cost: 55795562.3281
4.200240135192871
k: 107  cost: 47326348.9775
7.322418928146362
k: 108  cost: 49810138.3275
4.559261083602905
k: 109  cost: 53799929.8639
4.303246021270752
k: 110  cost: 56720676.5128
4.236242055892944
k: 111  cost: 56663274.8726
4.277244806289673
k: 112  cost: 56022203.8839
4.419252634048462
k: 113  cost: 56701785.993
4.336248159408569
k: 114  cost: 55103001.341
4.451254606246948
k: 115  cost: 56491659.5002
4.549260139465332
k: 116  cost: 55362245.5606
4.744271278381348
k: 117  cost: 52311472.1149
4.3632495403289795
k: 118  cost: 55848788.6874
4.284245014190674
k: 119  cost: 51090459.3311
4.580261945724487
k: 120  cost: 56007220.2405
4.333247900009155
k: 121  cost: 46202529.526
7.882451057434082
k: 122  cost: 45224607.7067
14.05380368232727
k: 123  cost: 45937250.9651
7.840448379516602
k: 124  cost: 55237422.6174
5.331305027008057
k: 125  cost: 55308135.1411
4.756272077560425
k: 126  cost: 55584597.9337
4.652266025543213
k: 127  cost: 55400960.0002
5.207298040390015
k: 128  cost: 45872465.3468
8.917510032653809
k: 129  cost: 46033202.6665
8.68649697303772
k: 130  cost: 50699776.9192
4.7372705936431885
k: 131  cost: 45820493.6823
11.749296188354492
k: 132  cost: 50798889.9442
7.406138896942139
k: 133  cost: 45252423.5625
9.463940858840942
k: 134  cost: 49847082.3323
5.166872501373291
k: 135  cost: 54203358.6332
4.495419979095459
k: 136  cost: 54200847.4848
4.39621639251709
k: 137  cost: 54912789.5614
4.617250204086304
k: 138  cost: 51191258.888
6.028125047683716
k: 139  cost: 44574058.5136
16.09592080116272
k: 140  cost: 44622826.3442
16.6419517993927
k: 141  cost: 49912384.3744
5.527316331863403
k: 142  cost: 52039659.4009
5.831333637237549
k: 143  cost: 44759211.2311
18.226128339767456
k: 144  cost: 45275227.0494
11.310577630996704
k: 145  cost: 52057915.0093
6.136312007904053
k: 146  cost: 51881396.9228
4.945282936096191
k: 147  cost: 51680653.4118
4.810275316238403
k: 148  cost: 43865660.8116
28.03160309791565
k: 149  cost: 53540765.6913
5.945340156555176

In [37]:
n_components = np.arange(22, 80, 10)

array([ 1, 11, 21, 31, 41, 51, 61, 71])

In [42]:
models = GaussianMixture(22, covariance_type='full', random_state=0)

In [45]:
fitedModel = models.fit(scaledData)

In [47]:
fitedModel.aic(scaledData)

-200737922.43716043

In [49]:
clustNumber=fitedModel.predict(scaledData)

In [51]:
pd.DataFrame(clustNumber).to_csv("clustNumber.csv")

In [54]:
clustNumber=pd.DataFrame(clustNumber)

In [74]:
clustNumber.columns

RangeIndex(start=0, stop=1, step=1)

In [56]:
df1 = clustNumber.loc[~clustNumber.index.duplicated(keep='first')]

In [73]:
df1.columns

RangeIndex(start=0, stop=1, step=1)

In [61]:
newData2=pd.concat([newData.reset_index(drop=True),df1.reset_index(drop=True)],axis=1)

In [62]:
newData2.shape

(921500, 92)

In [70]:
newData2.columns[-1]

0

In [72]:
newData2.head()

,c1,c10,c11,c12,c13,c14,c15,c16,c17,c18,...,c84,c85,c86,c87,c88,c9,data_id,period,target,0
0,0.655570,-0.0,0.028397,-0.075652,-0.0,0.000076,-0.008372,0.049279,0.0,0.0,...,0.0,0.0,0.000000,-0.000202,-0.140220,0.009358,2,train1,1.0,6
1,1.646430,-0.0,-0.176322,0.115702,-0.0,-0.002678,0.061209,-0.149158,0.0,0.0,...,0.0,0.0,0.000000,-0.004382,0.455767,0.004118,3,train1,0.0,10
2,-0.743010,-0.0,-0.035901,-0.062190,-0.0,0.000014,0.000242,0.029456,0.0,0.0,...,0.0,0.0,0.219566,0.072711,1.155580,-0.017536,5,train1,0.0,3
3,0.029770,-0.0,0.027396,-0.038418,-0.0,-0.000574,-0.000984,-0.001468,0.0,0.0,...,0.0,0.0,0.000000,-0.101181,-0.954553,-0.018105,7,train1,0.0,6
4,-0.660243,-0.0,0.036695,0.006385,-0.0,-0.013290,0.000916,0.055266,0.0,0.0,...,0.0,0.0,0.000000,-0.004842,0.436002,-0.004024,10,train1,0.0,21

In [77]:
newData2 = newData2.rename(columns={0:"cls"})

In [78]:
newData2.columns

Index(['c1', 'c10', 'c11', 'c12', 'c13', 'c14', 'c15', 'c16', 'c17', 'c18',
       'c19', 'c2', 'c20', 'c21', 'c22', 'c23', 'c24', 'c25', 'c26', 'c27',
       'c28', 'c29', 'c3', 'c30', 'c31', 'c32', 'c33', 'c34', 'c35', 'c36',
       'c37', 'c38', 'c39', 'c4', 'c40', 'c41', 'c42', 'c43', 'c44', 'c45',
       'c46', 'c47', 'c48', 'c49', 'c5', 'c50', 'c51', 'c52', 'c53', 'c54',
       'c55', 'c56', 'c57', 'c58', 'c59', 'c6', 'c60', 'c61', 'c62', 'c63',
       'c64', 'c65', 'c66', 'c67', 'c68', 'c69', 'c7', 'c70', 'c71', 'c72',
       'c73', 'c74', 'c75', 'c76', 'c77', 'c78', 'c79', 'c8', 'c80', 'c81',
       'c82', 'c83', 'c84', 'c85', 'c86', 'c87', 'c88', 'c9', 'data_id',
       'period', 'target', 'cls'],
      dtype='object')

In [79]:
newData2.groupby("cls").size()

cls
0       7958
1      51604
2      36859
3      78720
4        483
5      49756
6      36885
7      12907
8      12902
9     251731
10      5535
11     18429
12     16589
13     68194
14     16592
15     22126
16     20278
17     12902
18     35037
19     14747
20     49891
21    101375
dtype: int64